<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<!-- <app-menubar></app-menubar> -->
<p id="logo">hitchHike</p>
<div class="customRight">
  <p id="userEmail" class="label other">
    {{userRequest.email}}
  </p>
  <img src={{userImage}} id="userImage">
  <button type="submit" class="btn btn-danger" style="padding: 2px;margin: 2px;" id="logout" (click) = "logout()">Logout</button>
</div>
<br><br>
<hr>


<div id="main" style="padding: 30px;">

  <div class="container">

    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div *ngIf="email.invalid && (email.dirty && email.touched) && email.errors.required" class="alert alert-danger">Name or Email is required.</div>
    <div *ngIf="sourcePlace.invalid && (sourcePlace.dirty && sourcePlace.touched) && sourcePlace.errors.required" class="alert alert-danger">Please Enter Source Place</div>
    <div *ngIf="destinationPlace.invalid && (destinationPlace.dirty && destinationPlace.touched) && destinationPlace.errors.required" class="alert alert-danger">Please Enter Destination Place</div>
    <div *ngIf="leavingTime.invalid && (leavingTime.dirty && leavingTime.touched) && leavingTime.errors.required" class="alert alert-danger">Please Enter Approx Leaving Time</div>

    <h2>Let's Share and Take Ride</h2>
    <form #userRequestForm="ngForm" (ngSubmit)="!userRequestForm.invalid &&  submitForm()" class="form-horizontal">
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Your Email Id</label>
        <div class="col-sm-10">
          <input type="text" required="required" [(ngModel)]="userRequest.email" #email="ngModel" class="form-control" id="email" placeholder="Enter email or name" name="email" (ngModelChange) = "userRequest.email = $event" disabled>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="sourcePlace">Enter Source Place</label>
        <div class="col-sm-10">          
          <input type="text" required="required" [(ngModel)]="userRequest.sourcePlace" #sourcePlace="ngModel" class="form-control" id="sourcePlace" placeholder="Enter Source Place" name="sourcePlace" (ngModelChange) = "userRequest.sourcePlace = $event">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="destinationPlace">Enter Destination Place</label>
        <div class="col-sm-10">          
          <input type="text" [(ngModel)]="userRequest.destinationPlace" #destinationPlace="ngModel" class="form-control" id="destinationPlace" placeholder="Enter Destination Place" name="destinationPlace" (ngModelChange) = "userRequest.destinationPlace = $event"  required="required">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="leavingTime">Enter Approx Leaving Time</label>
        <div class="col-sm-10">          
          <input type="datetime-local" [(ngModel)]="userRequest.leavingTime" #leavingTime="ngModel" class="form-control" id="leavingTime" placeholder="Enter Leaving Time" name="leavingTime" (ngModelChange) = "userRequest.leavingTime = $event" required="required">
        </div>
      </div>

      
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>      
    </form>
  </div>
  

  <hr>

  <div class="tab">
    <button class="tablinks" (click) = "fetchMyRequests()">My Requests</button>
    <button class="tablinks" (click) = "fetchAllRequests()">All Requests</button>
    <!-- <button class="Login" (click) = "signInWithGoogle()">Log In</button> -->
  </div>
  
  <div id="myRequests" class="tabcontent" *ngIf = "IsmyRequests">
    
    <table class="table">
      <thead style="border: 0 px ;">
        <tr>
          <th>Source Place</th>
          <th>Destination Place</th>
          <th>Leaving Date</th>
          <th>Approx Leaving Time</th>
          <th>Cancel Request</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of myRequests">
          <td>{{request.sourcePlace}}</td>
          <td>{{request.destinationPlace}}</td>
          <td>{{request.leavingDate}}</td>
          <td>{{request.leavingTime}}</td>
          <td><button (click)="cancelRequest(request)" class="btn btn-danger">Cancel</button></td>
        </tr>
      </tbody>
    
    
    </table>
  </div>

  <div id="myRequests" class="tabcontent" *ngIf="NoRequest">
      <table class="table">
        <tr>
          <td>No request is raised by you as of now.</td>
        </tr>
      </table>
  </div>
  
  <div id="all Requests" class="tabcontent" *ngIf = "IsallRequests">
    <table class="table">
      <thead style="border: 0 px ;">
        <tr>
          <th>Who Requested</th>
          <th>Source Place</th>
          <th>Destination Place</th>
          <th>Leaving Date</th>
          <th>Approx Leaving Time</th>
          <th>Accept Request</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of allRequestsList">
          <td>{{request.fullName}}</td>
          <td>{{request.sourcePlace}}</td>
          <td>{{request.destinationPlace}}</td>
          <td>{{request.leavingDate}}</td>
          <td>{{request.leavingTime}}</td>
          <td><button (click)="acceptRequest(request)" class="btn btn-success">Accept</button></td>
        </tr>
      </tbody>
    
    
    </table>
  </div>

  <div id="all Requests" class="tabcontent" *ngIf="NoAllRequest">
    <table class="table">
      <tr>
        <td>No request is raised as of now.</td>
      </tr>
    </table>
  </div>
  
  
   
</div>